header, footer{

    background: rgb(111, 146, 240);
    color:white;
}

h1 {
  color: rgb(23, 0, 128);
}

h2 {
    color: rgb(117, 179, 230); 
}

.linea_menu {

  background-color: rgb(185, 172, 172);
  border:rgb(185, 172, 172);
}

.banner-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(233, 83, 83, 0.5), rgba(109, 100, 185, 0.5)), url("../imagenes/banner.jpg");

  /* Set a specific height */

  width: 1280px;
  height: 150px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    background-color: lightgray;
    text-align: left;
    max-width: 1280px;
    max-height: 1280px;
  }

  .fa {
    padding: 2px;
    width: 4px;
    text-align: center;
    text-decoration: none;
  }
   
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
  
    color: white;
  }
  /* instagram */
  .fa-instagram {
   
    color: white;
  }

  /* Twitter */
  .fa-twitter {
   
    color: white;
  }

   /* Linkedin*/
   .fa-linkedin {
   
    color: white;
  }


  .Div1 {
    text-align: left;
    background-color: rgb(178, 233, 178);
    min-width: 400px;
    display: inline-block;
  }

  .Div2{
    text-align: left;
    background-color: lightpink;
    min-width: 400px;
    display: inline-block;
  }

  img.fotoGaleria{
    width: 180px;
    height: 220px;
    object-fit:cover;
  }